.servicecardcrousel{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    background-color: bisque;
    width: 16rem;
    height: fit-content;
    padding: 0 2rem 2rem 2rem;
    border-radius: 10px;
  }
  
  .servicecardcrousel img {
    margin-top: -20%;
    width: 100%;
    border-radius: 20px;
  }
  
  .servicecardcrousel h2 {
   
    margin-top: 1rem;
    margin-left: 3.8rem;
  }
 
  
  .servicecardcrousel p {
    margin: 0;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
  }
  
  .servicecarddbt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }