.slider-container {
  width: 80%; /* Adjust the width as per your layout */
  margin: 0 auto; /* Center the slider horizontally */
  margin-bottom: 10%;
}

.slider-item {
  text-align: center; /* Center align the content inside the slider */
}

.slider-item img {
  max-width: 100%; /* Ensure the image does not exceed its container */
  height: auto; /* Maintain aspect ratio */
}

/* Customize the dots style */
.slick-dots {
  bottom: 20px; /* Adjust the position of the dots */
}

.slick-dots li button:before {
  color: #fff; /* Change the color of the dots */
}

/* Customize the dots when active */
.slick-dots li.slick-active button:before {
  color: #ff5733; /* Change the color of active dot */
}

h1{
  align-items: center;
  padding-top: 10%;
  padding-left: 32%;
  font-size: 2.5rem;
}